.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.headerLeft,
.headerRight {
    display: flex;
    align-items: center;
}

a>span {
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a>span:hover {
    color: #F5C518;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}

.search-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.suggestions {
    color: #f1f1f1;
    position: absolute;
    z-index: 1;
    top: 45px;
    width: 100%;
    border: 1px solid #2e2e2e;
    border-radius: 5px;
    border-bottom: none;
    border-top: none;
    background-color: #2e2e2e;
}

.suggestions div {
    color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    background-color: #2e2e2e;
    border-radius: 5px;
}

.suggestions div:hover {
    background-color: #3e3e3e;
}

.loginButton {
    position: absolute;
    right: 30px;
}