.account__page {
    padding: 0 3rem 3rem 3rem;
}

.like__title {
    font-size: 1.75rem;
    margin: 2.5rem;
}

.like__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.layout_content {
    display: flex;
}

.layout_aside {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.layout_main {
    flex: 9;
}

.account_link {
    color: rgb(167, 167, 167);
    border-bottom: 1px solid #5c5c5c;
}